<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>colors</title>
</head>
<body>
    <form action="#" method="post">
        <check if="{{ isset(@errors['color']) }}">
            <p>{{ @errors['color']}}</p>
        </check>
        <select class="form-control" name="color" id="color">
            <option>Select a color:</option>
            <repeat group="{{ @colors }}" value="{{ @colorOption }}">
                <option value="{{ @colorOption }}"
                <check if="{{ @passedColor == @colorOption }}">
                    selected
                </check>
                >{{ @colorOption }}</option>

            </repeat>
        </select>
        <br>

        <label for="name">Name: {{ @errors['name'] }}
            <input id="name" type="text" class="form-control" name="name" value="{{ @name }}">
        </label>
        <br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>